.screens-user-main__main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.screens-user-main__main__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.screens-user-main__room__wrapper {
  width: 320px;
  margin-bottom: 20px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.screens-user-main__room__img__wrapper {
  width: 320px;
  height: 320px;
}

.swiper-slide img {
  border-radius: 8%;
}

.screens-user-main__room-location {
  margin-top: 8px;
  font-size: 15px;
  font-family: NotoSansKR-Regular;
}

.screens-user-main__room-title {
  font-family: NotoSansKR-Regular;
  font-size: 14px;
}

.screens-user-main__room-price {
  font-weight: bold;
  font-size: 14px;
  font-family: NotoSansKR-Regular;
}


/*슬라이더 css*/


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 25px;
  color: #FFFFFF;
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}