* {
  font-family: NotoSansKR-Regular;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.room__wrapper {
  width: 350px;
  margin-bottom: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.room-img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.room-location {
  margin-top: 8px;
  font-size: 15px;
}

.room-price {
  font-weight: bold;
  font-size: 14px;
}