/*버튼 디자인*/
.screens-room-myBookings__button {
  font-family: NotoSansKR-Regular;
  width: 70px;
  height: 30px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #ffeeeb;
  border: none;
  color: #3c3c3c;
  cursor: pointer;
}

.screens-room-myBookings__button:hover {
  background-color: #f8a499;
  color: #FFFFFF;
}


.screens-room-myBookings {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center
}

.screens-room-myBookings * {
  box-sizing: border-box;
}

.screens-room-myBookings__divide-line {
  margin-top: 20px;
  height: 1000px;
  border: #dedede 0.5px solid;
}


.screens-room-myBookings__total-wrapper {
  width: 80%;
  height: auto;

}

.screens-room-myBookings__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.screens-room-myBookings__title {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: NotoSansKR-Medium;
  font-size: 25px;
  align-self: center;

}


/*예정된 예약*/

.screens-room-myBookings__comming-reservation {
  width: 45%;
}

.screens-room-myBookings__comming-reservation__title {
  font-family: NotoSansKR-Regular;
  font-size: 16px;
  margin-bottom: 15px;
}

.screens-room-myBookings__comming-reservation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.screens-room-myBookings__comming-reservation__div {
  border: #dcdcdc 0.5px solid;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
}

.screens-room-myBookings__comming-reservation__div__status_id {
  color: #ed6452;
  font-family: NotoSansKR-Bold;
}


.screens-room-myBookings__comming-reservation__main-photo__wrapper {
  width: 40%;
  height: 160px;
  overflow: hidden;
}

.screens-room-myBookings__comming-reservation__div__info {
  margin-right: auto;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.screens-room-myBookings__comming-reservation__main-photo {
  width: 100%;
  height: 100%;
}

/*이전 여행지 (완료한 여행)*/

.screens-room-myBookings__completed-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.screens-room-myBookings__completed-reservation__title {
  font-family: NotoSansKR-Regular;
  align-self: flex-start;
  font-size: 16px;
  margin-bottom: 15px;
}

.screens-room-myBookings__completed-reservation__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.screens-room-myBookings__completed-reservation__div {
  border: #dcdcdc 0.3px solid;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
}

.screens-room-myBookings__completed-reservation__div__info {
  padding: 5px;
}

.screens-room-myBookings__completed-reservation__main-photo__wrapper {
  width: 100%;
  overflow: hidden;
}

.screens-room-myBookings__completed-reservation__main-photo {
  width: 100%;
}


/*모달 CSS*/
.screens-room-myBookings__modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  z-index: 1;
}

.screens-room-myBookings__modalContent__form {
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  background-color: white;
}

.screens-room-myBookings__modalContent__starBox {
  margin-top: 20px;
  height: 70px;
}

.screens-room-myBookings__modalContent__star {
  float: left;
  width: 25px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('/resources/img/user/star-white.svg')

}

.screens-room-myBookings__modalContent__leftStar {
  background-position: left;
}

.screens-room-myBookings__modalContent__rightStar {
  background-position: right;
}