/*전역 설정*/
* {
  font-size: 14px;
  font-family: NotoSansKR-Regular;
}

.components-user-header__a {
  text-decoration: none;
  color: black;
}

.components-user-header__logo {
  width: 200px;
  margin-top: 20px;
}

.components-user-header__button {
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/*헤더 설정*/
.components-user-header__header {
  padding: 0 80px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.components-user-header__header__logo {
  width: 300px;
  height: 100%;
}

/*검색 서치바*/

.components-user-header__header__searchbar {
  display: flex;
  justify-content: center;
}

.components-user-header__header__searchbar__inner {
  border: rgb(221, 221, 221) 0.5px solid;
  border-radius: 40px;
  width: 600px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  transition: box-shadow 0.1s ease;
}

.components-user-header__header__searchbar__inner:hover {
  box-shadow: 2.5px 2.5px 2px rgb(221, 221, 221);
}

/*'어디로' 눌렀을때 나오는 드롭다운*/
.components-user-header__header__searchbar__where.show {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  top: 130%;
  left: 10%;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 20px 20px 30px 20px;
}

.components-user-header__header__searchbar__where > .components-user-header__dropdown__place-option {
  width: 80px;
}

.components-user-header__header__searchbar__where > .components-user-header__dropdown__place-option > span {
  color: #737373;
}

.components-user-header__header__searchbar__where > .components-user-header__dropdown__place-option > span:hover {
  font-weight: bold;
  color: #464646;
}

.components-user-header__header__searchbar__main_txt {
  font-size: 15px;
}

.components-user-header__header__searchbar__sub_txt {
  font-size: 13px;
  color: #737373;
}

.components-user-header__header__searchbar__where > input {
  width: 400px;
  height: 40px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding-left: 20px;
}

.components-user-header__header__searchbar__where > div {
  width: 30px;
}

/*'체크인' 버튼 눌렀을 때 나오는 드롭다운 캘린더*/
.components-user-header__header__searchbar__checkin.show {
  display: block;
  top: 100%;
  width: 100px;
  height: 40px;
}

.components-user-header__header__searchbar__checkin.show input {
  cursor: pointer;
}

.components-user-header__calender {
  border: #b7b7b7 0.5px solid;
  border-width: 0px 0px 0.5px 0px;
  color: #737373;
}

/* '여행자' 버튼 눌렀을때 나오는 드롭다운 */
.components-user-header__header__searchbar__people.show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  top: 130%;
  left: 10%;
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 20px 20px 30px 20px;
}

.components-user-header__header__searchbar__people_count {
  color: #737373;
  width: 30px;
  font-size: 20px;
}

.components-user-header__header__searchbar__people > div {
  padding-top: 5px;
}

/*1박당 예산 영역*/
.components-user-header__header__searchbar__money.show {
  display: block;
  top: 130%;
  width: 300px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 30px 30px 30px 30px;
}


.components-user-header__input-box {
  display: flex;
}

.components-user-header__min-box, .max-box {
  width: 50%;
}

.components-user-header__min-box {
  padding-right: .5rem;
  margin-right: .5rem;
}

.components-user-header__input-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.components-user-header__input-addon {
  display: flex;
  align-items: center;
  padding: .625rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  text-align: center;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #d4d7e5;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.components-user-header__input-field {
  margin-left: -1px;
  padding: .425rem .75rem;
  font-size: 0.8125rem;
  border-radius: .25rem;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  mint-width: 0;
  color: #4b566b;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #d4d7e5;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.components-user-header__input-field:focus {
  outline: none;
}


/*검색 돋보기 버튼*/
.components-user-header__header__searchbar__search-btn {
  background-color: rgba(244, 132, 117, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
}

.components-user-header__header__searchbar__inner button {
  transition: font-size 0.1s ease;
}

.components-user-header__header__searchbar__search-btn > img {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 30%;
  top: 30%;
}

.components-user-header__header__searchbar__divide-line {
  height: 24px;
  width: 1px;
  background-color: rgb(221, 221, 221);
}

/*프로필영역*/
/*호스트모드로 전환 버튼*/
.components-user-header__header__profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.components-user-header__header__profile__to-host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  border-radius: 30px;
  margin-right: 15px;
}

.components-user-header__header__profile__to-host:hover {
  background-color: rgb(248, 248, 248);
}

/*마이프로필 버튼 영역*/
.components-user-header__header__profile__my-profile {
  border: rgb(221, 221, 221) 0.5px solid;
  border-radius: 30px;
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  transition: box-shadow 0.1s ease;
}

.components-user-header__header__profile__my-profile:hover {
  box-shadow: 2.5px 2.5px 2px rgb(221, 221, 221);
}

.components-user-header__header__profile__my-profile__btn {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.components-user-header__header__profile__img {
  width: 25px;
  height: 25px;
}

/*드롭다운 이후에 보여지는 화면 속성*/
.show.components-user-header__header__profile__option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 200%;
  top: 120%;
  right: 5%;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 20px 0px;
}

.components-user-header__header__profile__option div {
  width: 100%;
  /*flex: 1;*/
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.components-user-header__header__profile__option .components-user-header__dropdown__option:hover {
  background-color: rgb(243, 243, 243);
}

.components-user-header__header__profile__option .components-user-header__dropdown__option > span {
  padding-left: 20px;
}

/*드롭다운 토글 (전역)*/
/*-------------------*/
.components-user-header__dropdown {
  position: relative;
}


.components-user-header__dropdown-div {
  display: none;
  position: absolute;
}

.show {
  position: absolute;
}

/*-------------------*/
/*캘린더*/


/*최하단 구분선*/
.components-user-header__line {
  width: 100%;
  height: 0;
  border-top: rgb(221, 221, 221) 0.5px solid;
}