.screens-admin-event__container {
    background-color: gainsboro;
    width: 100vw;
    height: 100%;
}

.screens-admin-event__content {
    width: 80%;
    min-width: 1150px;
    height: auto;
    min-height: 550px;
    position: absolute;
    float: left;
    margin: 0 100px 0 230px;
    top: 78px;
    bottom: 25px;
    padding: 0 20px 0 20px;
    background-color: white;
    overflow: auto;
}

.screens-admin-event__content-search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 70px;
}

.screens-admin-event__content-search-input {
    height: 24px;
    margin-left: 4px;
}

.screens-admin-event__content-search__btn {
    height: 24px;
    background-color: indianred;
    color: white;
    border: 0;
    border-radius: 2px;
}

.screens-admin-event__content-search__btn:hover {
    color: black;
    transition-duration: 200ms;
    transform: scale(1.04, 1.04);
    cursor: pointer;
}

.screens-admin-event__content-table {
    width: 100%;
    margin: 30px 0 10px 0;
    padding-right: 10px;
}

.screens-admin-event__content-table-div {
    width: 100%;
    height: 78%;
}

.screens-admin-event__content-table__no {
    width: 5%;
    font-size: 12px;
    color: #333333;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-table__title {
    padding: 6px 0 4px 0;
    width: auto;
    color: black;
    border-bottom: 1px solid #444444;
    text-align: left;
}

.screens-admin-event__content-table__title__a {
    text-decoration: none;
    color: black;
}

.screens-admin-event__content-table__title__a:hover {
    color: #F48475;
}

.screens-admin-event__content-table__title__a:visited {
    color: #B0B0B0;
}

.screens-admin-event__content-table__title__a:visited:hover {
    color: #F48475;
}

.screens-admin-event__content-table__writer {
    font-size: 12px;
    width: 10%;
    height: 20px;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-table__status {
    font-size: 12px;
    width: 5%;
    height: 20px;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-table__is_open {
    font-size: 12px;
    width: 8%;
    height: 20px;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-table__event_date {
    font-size: 12px;
    width: 8%;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-table__regdate {
    font-size: 12px;
    width: 8%;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-table__viewcnt {
    font-size: 12px;
    width: 5%;
    border-bottom: 1px solid #444444;
    text-align: center;
}

.screens-admin-event__content-top__btn {
    position: fixed;
    top: 100px;
    right: 120px;
    width: 60px;
    height: 24px;
    background-color: indianred;
    color: white;
    border: 0;
    border-radius: 2px;
}

.screens-admin-event__content-top__btn:hover {
    transition-duration: 200ms;
    transform: scale(1.04, 1.04);
    cursor: pointer;
}

.screens-admin-event__content-bottom {
    position: absolute;
    right: 24px;
    bottom: 40px;
}

.screens-admin-event__content-bottom__btn {
    width: 150px;
    height: 24px;
    background-color: indianred;
    color: white;
    border: 0;
    border-radius: 2px;
}

.screens-admin-event__content-bottom__btn:hover {
    color: black;
    transition-duration: 200ms;
    transform: scale(1.04, 1.04);
    cursor: pointer;
}

.screens-admin-event__content-bottom__btn__a {
    text-decoration: none;
    color: white;
}

.screens-admin-event__content-bottom__btn__submit {
    position: absolute;
    width: 150px;
    height: 24px;
    background-color: indianred;
    color: white;
    border: 0;
    border-radius: 2px;
    right: 20px;
    bottom: 20px;
}

.screens-admin-event__content-bottom__btn__submit:hover {
    color: black;
    transition-duration: 200ms;
    transform: scale(1.04, 1.04);
    cursor: pointer;
}

.screens-admin-event__content-img-div {
    width: 29%;
    position: absolute;
    height: 80%;
    top: 40px;
    right: 225px;
    border: 2px solid indianred;
    border-radius: 10px;
}

.screens-admin-event__content-input-div {
    width: 150px;
    height: calc(80% - 40px);
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 40px 10px 0 20px;
    border: 2px solid indianred;
    border-radius: 10px;
}

.screens-admin-event__content-input-div__radio {
    accent-color: indianred;
}

.screens-admin-event__content-input__type {
    margin: 20px 0 10px 0;
}

.screens-admin-event__content-input__img {
    position: absolute;
    top: 35px;
    right: 22px;
    width: 300px;
    height: auto;
}

.screens-admin-event__content-input__text {
    white-space: pre;
    width: 50%;
    height: 60%;
    overflow: hidden;
    top: 160px;
    left: 20px;
}

.screens-admin-event__content-input__filebox .upload-name {
    display: inline-block;
    height: 22px;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    color: dimgrey;
}

.screens-admin-event__content-input__filebox label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 4px 0 0 0;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 16px;
    width: 40px;
    font-size: 14px;
}

.screens-admin-event__content-input__filebox label:hover {
    transform: scale(1.04, 1.04);
    transition-duration: 200ms;
    color: indianred;
}

.screens-admin-event__content-input__filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.screens-admin-event__paging {
    color: black;
    width: 100%;
    align-items: center;
}

.screens-admin-event__page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}

.screens-admin-event__page:active {
    background-color: indianred;
}

.screens-admin-event__paging:active {
    color: indianred;
}

.screens-admin-event__paging-container {
    height: 10px;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    z-index: 5;
}

.screens-admin-event__content-div__status {
    width: 100px;
    height: 300px;
    position: fixed;
    top: 150px;
    right: 50px;
    font-size: 14px;
    border: 2px solid indianred;
    border-radius: 10px;
    padding: 60px 0 0 20px;
}

.screens-admin-event__content__img {
    width: 700px;
    height: auto;
    margin: 40px 0 20px 20px;
    background-color: gainsboro;
}