<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universestay.project.resources.mybatis.mapper.room.roomMapper">
    <select id="selectAll" resultType="map">
        SELECT R.*, GROUP_CONCAT(RI.room_img_url SEPARATOR ', ') AS room_img_url_list
        FROM Room R
                 LEFT JOIN RoomImg RI ON R.room_id = RI.room_id
        WHERE RI.room_img_url IS NOT NULL
        GROUP BY R.room_id;
    </select>

    <select id="select" resultType="RoomDto">
        SELECT *
        FROM Room
        WHERE room_id = #{room_id}
    </select>

    <select id="select5RoomImg" resultType="RoomImgDto">
        SELECT *
        FROM RoomImg
        WHERE room_id = #{room_id} LIMIT 0, 5
    </select>

    <select id="listHostRoom" resultType="RoomDto">
        SELECT *
        FROM Room
        WHERE user_id = #{user_id}
          AND room_status_id NOT IN ('R03')
        ORDER BY created_at
    </select>

    <!--  <select id="listHostRoom" resultType="map">-->
    <!--    select ri.room_img_url, r.room_name, r.created_at-->
    <!--    from Room r,-->
    <!--         RoomImg ri-->
    <!--    where r.room_id = ri.room_id-->
    <!--      and r.user_id = #{user_id};-->
    <!--  </select>-->

    <!--  <select id="shutdownHostroom">-->
    <!--    UPDATE Room-->
    <!--    SET room_status_id = 'R03'-->
    <!--    WHERE room_id = #{room_id}-->

    <!--  </select>-->

    <sql id="statusCondition">
        <choose>
            <when test='room_status_id=="R01"'>
                SET room_status_id = 'R01'
            </when>
            <when test='room_status_id=="R02"'>
                SET room_status_id = 'R02'
            </when>
            <otherwise>
                SET room_status_id = 'R03'
            </otherwise>
        </choose>
    </sql>

    <update id="statusHostroom" parameterType="map">
        UPDATE Room
        <include refid="statusCondition"></include>
        WHERE room_id = #{room_id}
    </update>

    <select id="selectAllByCategory" resultType="map">
        SELECT R.*, GROUP_CONCAT(RI.room_img_url SEPARATOR ', ') AS room_img_url_list
        FROM Room R
                 LEFT JOIN RoomImg RI ON R.room_id = RI.room_id
        WHERE RI.room_img_url IS NOT NULL
          AND room_category_id = #{room_category_id}
        GROUP BY R.room_id;
    </select>

    <select id="selectAllByView" resultType="map">
        SELECT R.*,
               GROUP_CONCAT(RI.room_img_url SEPARATOR ', ') AS room_img_url_list
        FROM Room R
                 LEFT JOIN RoomImg RI ON R.room_id = RI.room_id
        WHERE RI.room_img_url IS NOT NULL
          AND R.room_id IN (Select A.room_id
                            from Room A,
                                 RoomView B
                            Where A.room_id = B.room_id
                              And B.view_status_id = #{view_status_id})
        GROUP BY R.room_id;
    </select>

    <insert id="saveRoomDto" parameterType="RoomDto">
        INSERT INTO Room
        VALUES (#{room_id}, #{room_category_id}, #{user_id}, #{status_id}, #{room_status_id},
                #{room_name}, #{room_address}, #{room_address_detail},
                'https://a0.muscache.com/im/pictures/miso/Hosting-54283684/original/5283e5f3-f75e-4b52-8b20-ab1dc01f7cf6.png?im_w=720',
                #{room_total_desc},
                #{room_space_desc}, #{room_etc_desc}, '카카오톡, 전화',
                '10:00', '12:00', #{room_weekday_price}, #{room_weekend_price},
                #{room_standard_capa}, #{room_max_capa},
                #{room_extra_person_fee}, #{room_is_auto_aprv}, #{room_stars_avg},
                #{room_bedroom_cnt}, #{room_bed_cnt},
                #{room_bathroom_cnt}, now(), #{created_id}, now(), #{updated_id})
    </insert>

</mapper>