<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universestay.project.resources.mybatis.mapper.room.roomMapper">

    <select id="selectAll" resultType="RoomDto">
        SELECT *
        FROM Room
        ORDER BY created_at
    </select>

    <select id="select" resultType="RoomDto">
        SELECT *
        FROM Room
        WHERE room_id = #{room_id}
    </select>

    <select id="select5RoomImg" resultType="RoomImgDto">
        SELECT *
        FROM RoomImg
        WHERE room_id = #{room_id} LIMIT 0, 5
    </select>

    <select id="selectAllByCategory" resultType="RoomDto">
        SELECT *
        FROM Room
        WHERE room_category_id = #{room_category_id}
    </select>

    <select id="selectAllByView" resultType="map">
        Select A.*, B.*
        from Room A,
             RoomView B
        Where A.room_id = B.room_id
          And B.view_status_id = #{view_status_id};
    </select>


</mapper>