<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universestay.project.review.dao.RoomReviewDao">
    <select id="roomReviewSelectAll" parameterType="String" resultType="map">
        select rr.review_stars, rr.review_ctt, rr.created_at, u.user_nickname, p.profile_img_url
        from RoomReview rr
                 left join User u
                           ON rr.user_id = u.user_id
                 left join ProfileImg p
                           ON u.user_id = p.user_id
        where rr.room_id = #{room_id}
          and rr.user_id = rr.review_writer
        order by created_at desc
    </select>

    <select id="userReviewSelectAll" parameterType="String" resultType="map">
        select u.user_nickname, rev.review_ctt, rev.created_at
        from RoomReview rev,
             Room r,
             User u
        where rev.room_id = r.room_id
          and r.user_id = u.user_id
          and rev.review_writer = #{user_id}
        order by created_at desc
    </select>

    <select id="roomReviewCount" resultType="int">
        select count(*)
        from RoomReview
        where room_id = #{room_id}
    </select>

    <select id="roomReviewAvg" resultType="double">
        select truncate(AVG(review_stars), 2)
        From RoomReview
        where room_id = #{room_id}
    </select>

    <select id="roomReviewSelectSix" parameterType="String" resultType="map">
        select rr.review_ctt, rr.created_at, u.user_nickname, p.profile_img_url
        from RoomReview rr
                 left join User u
                           ON rr.user_id = u.user_id
                 left join ProfileImg p
                           ON u.user_id = p.user_id
        where rr.room_id = #{room_id}
          and rr.user_id = rr.review_writer
        order by created_at desc limit 6
    </select>
</mapper>