<included>
    
    <include resource="file-info-appender.xml"/>
    <include resource="file-warn-appender.xml"/>
    <include resource="file-error-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="FILE-INFO"/>
        <appender-ref ref="FILE-WARN"/>
        <appender-ref ref="FILE-ERROR"/>
    </root>

</included>