.footer {
  overflow: hidden;
  clear: both;
  position: relative;
  padding: 23px 16px 16px 16px;
  background: rgb(245, 245, 245);
  font-size: 10px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.38);
}

a {
  color: rgba(0, 0, 0, 0.38);
  text-decoration: none;
  outline: none
}

a:hover, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.38);
}

ol, ul, li {
  list-style: none;
}

ul {
  overflow: hidden;
  margin-bottom: 15px;
}

li {
  display: inline-block;
}

li span {
  display: inline-block;
  margin: 0 5px 0 5px;
}

p {
  margin-bottom: 15px;
}

p b {
  font-size: 11px;
  font-weight: bolder;
  margin-right: 5px;
}

.order {
  display: inline-block;
  margin-bottom: 15px;
}
