/*전역 설정*/
* {
  font-size: 14px;
  font-family: NotoSansKR-Regular;
}

a {
  text-decoration: none;
  color: black;
  font-family: NotoSansKR-Regular;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

button {
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/*헤더 설정*/
.header {
  padding: 0 80px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header__logo {
  width: 300px;
  height: 100%;
}

/*검색 서치바*/

.header__searchbar {
  display: flex;
  justify-content: center;
}

.header__searchbar__inner {
  border: rgb(221, 221, 221) 0.5px solid;
  border-radius: 40px;
  width: 600px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  transition: box-shadow 0.1s ease;
}

.header__searchbar__inner:hover {
  box-shadow: 2.5px 2.5px 2px rgb(221, 221, 221);
}

/*'어디로' 눌렀을때 나오는 드롭다운*/
.header__searchbar__where.show {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
  top: 130%;
  left: 10%;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 20px 20px 30px 20px;
}

.header__searchbar__where > .dropdown__place-option {
  width: 80px;
}

.header__searchbar__where > .dropdown__place-option > span {
  color: #737373;
}

.header__searchbar__where > .dropdown__place-option > span:hover {
  font-weight: bold;
  color: #464646;
}

.header__searchbar__txt {
  font-size: 15px;
}

.header__searchbar__sub_txt {
  font-size: 13px;
  color: #737373;
}

.header__searchbar__where > input {
  width: 400px;
  height: 40px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding-left: 20px;
}

.header__searchbar__where > div {
  width: 30px;
}

/*'체크인' 버튼 눌렀을 때 나오는 드롭다운 캘린더*/
.header__searchbar__checkin.show {
  display: block;
  top: 100%;
  width: 100px;
  height: 40px;
}

.header__searchbar__checkin.show input {
  cursor: pointer;
}

.calender {
  border: #b7b7b7 0.5px solid;
  border-width: 0px 0px 0.5px 0px;
  color: #737373;
}

/* '여행자' 버튼 눌렀을때 나오는 드롭다운 */
.header__searchbar__people.show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  top: 130%;
  left: 10%;
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 20px 20px 30px 20px;
}

.header__searchbar__people_count {
  color: #737373;
  width: 30px;
  font-size: 20px;
}

.header__searchbar__people > div {
  padding-top: 5px;
}

/*1박당 예산 영역*/
.header__searchbar__money.show {
  display: block;
  top: 180%;
  width: 280px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 30px 30px 30px 30px;
}


/*검색 돋보기 버튼*/
.header__searchbar__search-btn {
  background-color: rgba(244, 132, 117, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
}

.header__searchbar__inner button {
  transition: font-size 0.1s ease;
}

.header__searchbar__search-btn > img {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 30%;
  top: 30%;
}

.header__searchbar__divide-line {
  height: 24px;
  width: 1px;
  background-color: rgb(221, 221, 221);
}

/*프로필영역*/
/*호스트모드로 전환 버튼*/
.header__profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__profile__to-host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  border-radius: 30px;
  margin-right: 15px;
}

.header__profile__to-host:hover {
  background-color: rgb(248, 248, 248);
}

/*마이프로필 버튼 영역*/
.header__profile__my-profile {
  border: rgb(221, 221, 221) 0.5px solid;
  border-radius: 30px;
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  transition: box-shadow 0.1s ease;
}

.header__profile__my-profile:hover {
  box-shadow: 2.5px 2.5px 2px rgb(221, 221, 221);
}

.header__profile__my-profile__btn {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__profile__img {
  width: 25px;
  height: 25px;
}

/*드롭다운 이후에 보여지는 화면 속성*/
.show.header__profile__option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 200%;
  /*height: 230px;*/
  top: 120%;
  right: 5%;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgb(221, 221, 221);
  box-shadow: 1px 1px 3px rgb(221, 221, 221);
  padding: 20px 0px;
}

.header__profile__option div {
  width: 100%;
  height: 40px;
  /*flex: 1;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__profile__option .dropdown__option:hover {
  background-color: rgb(243, 243, 243);
}

.header__profile__option .dropdown__option > span {
  padding-left: 20px;
}

/*드롭다운 토글 (전역)*/
/*-------------------*/
.dropdown {
  position: relative;
}


.dropdown-div {
  display: none;
  position: absolute;
}

.show {
  position: absolute;
}

/*-------------------*/
/*캘린더*/


/*최하단 구분선*/
.line {
  width: 100%;
  height: 0;
  border-top: rgb(221, 221, 221) 0.5px solid;
}