<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universestay.project.user.dao.UserInfoDao">
    <select id="selectUserInfo" parameterType="String" resultType="UserDto">
        select *
        from User
        where user_email = #{user_email}
    </select>

    <update id="updateUserInfo" parameterType="UserDto">
        UPDATE User
        SET user_nickname   = #{user_nickname},
            user_phone_num1 = #{user_phone_num1},
            user_phone_num2 = #{user_phone_num2},
            user_bio        = #{user_bio},
            updated_at      = now()
        Where user_id = #{user_id}
    </update>

    <select id="checkNickname" parameterType="map" resultType="int">
        select count(*)
        from User
        where user_nickname = #{user_nickname}
        AND user_email != #{user_email}
    </select>

    <!--    테스트 코드를 위해 만들어놓은 Delete 매퍼-->
    <delete id="deleteUser" parameterType="UserDto">
        delete
        from User
        where user_email =
              #{user_email}
    </delete>
</mapper>
