<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--        <typeAlias alias="userDto" type="com.example.mywebsitespring.domain.UserDto"/>-->
        <!--        <typeAlias alias="studyBoardDto" type="com.example.mywebsitespring.domain.StudyBoardDto"/>-->
        <!--        <typeAlias alias="commentDto" type="com.example.mywebsitespring.domain.CommentDto"/>-->
    </typeAliases>
</configuration>