<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.universestay.project.user.dto.UserDto"/>
        <typeAlias alias="SearchCondition"
                type="com.universestay.project.admin.dto.SearchCondition"/>
        <typeAlias alias="AdminDto" type="com.universestay.project.admin.dto.AdminDto"/>
        <typeAlias alias="EventDto" type="com.universestay.project.dto.EventDto"/>
    </typeAliases>
</configuration>