<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.universestay.project.mybatis.mapper.admin.couponMapper">

    <insert id="insert" parameterType="CouponDto">
        INSERT INTO Coupon (event_id, coupon_name, coupon_desc, coupon_usage, coupon_usable_day, coupon_is_activated,
                            coupon_type,
                            coupon_discount_rate, coupon_discount_limit, coupon_discount_amount,
                            created_id, updated_id)
        VALUES (#{event_id}, #{coupon_name}, #{coupon_desc}, #{coupon_usage}, #{coupon_usable_day},
                #{coupon_is_activated},
                #{coupon_type}, #{coupon_discount_rate}, #{coupon_discount_limit}, #{coupon_discount_amount},
                #{created_id}, #{updated_id})
    </insert>

    <select id="select" parameterType="Integer" resultType="CouponDto">
        SELECT *
        FROM Coupon
        WHERE coupon_id = #{coupon_id}
    </select>

    <select id="selectOnEvent" parameterType="Integer" resultType="CouponDto">
        SELECT *
        FROM Coupon
        WHERE event_id = #{event_id}
          AND coupon_is_activated = 'Y'
    </select>

    <select id="selectByEvent" parameterType="Integer" resultType="Integer">
        SELECT coupon_id
        FROM Coupon
        WHERE event_id = #{event_id}
    </select>

    <select id="selectAll" resultType="CouponDto">
        SELECT *
        FROM Coupon
        ORDER BY created_at DESC;
    </select>

    <select id="getAdminUuid" parameterType="String" resultType="String">
        SELECT admin_id
        FROM Admin
        WHERE admin_email = #{admin_email}
    </select>

    <update id="update" parameterType="CouponDto">
        UPDATE Coupon
        SET coupon_name            = #{coupon_name},
            coupon_desc            = #{coupon_desc},
            coupon_usage           = #{coupon_usage},
            coupon_usable_day      = #{coupon_usable_day},
            coupon_is_activated    = #{coupon_is_activated},
            coupon_discount_rate   = #{coupon_discount_rate},
            coupon_discount_limit  = #{coupon_discount_limit},
            coupon_discount_amount = #{coupon_discount_amount},
            coupon_updated_at      = #{coupon_updated_at},
            coupon_updated_id      = #{coupon_updated_id}
        WHERE coupon_id = #{coupon_id}
    </update>

    <update id="issue" parameterType="Integer">
        UPDATE Coupon
        SET coupon_is_activated = 'Y'
        WHERE coupon_id = #{coupon_id}
    </update>

    <update id="stopIssue" parameterType="Integer">
        UPDATE Coupon
        SET coupon_is_activated = 'N'
        WHERE coupon_id = #{coupon_id}
    </update>

    <delete id="delete">
        DELETE
        FROM Coupon
        WHERE coupon_id = #{coupon_id}
    </delete>

    <sql id="searchCondition01">
        <choose>
            <when test='type==""'></when>
            <when test='type=="price"'>
                AND coupon_type Like "정액할인"
            </when>
            <otherwise>
                AND coupon_type Like "정률할인"
            </otherwise>
        </choose>
    </sql>

    <sql id="searchCondition02">
        <choose>
            <when test='option==""'></when>
            <when test='option=="Y"'>
                AND coupon_is_activated LIKE "Y"
            </when>
            <otherwise>
                AND coupon_is_activated LIKE "N"
            </otherwise>
        </choose>
    </sql>

    <sql id="searchCondition03">
        AND coupon_name LIKE concat('%',
        #{keyword},
        '%'
        )
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="couponDto">
        SELECT coupon_id, coupon_created_date, coupon_name, coupon_desc, coupon_usage, coupon_usable_day,
        coupon_is_activated, coupon_type, coupon_discount_rate, coupon_discount_amount, coupon_discount_limit
        FROM Coupon
        WHERE true
        <include refid="searchCondition01"/>
        <include refid="searchCondition02"/>
        <include refid="searchCondition03"/>
        ORDER BY created_at DESC, coupon_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM Coupon
        WHERE true
        <include refid="searchCondition01"/>
        <include refid="searchCondition02"/>
        <include refid="searchCondition03"/>
    </select>

</mapper>