<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universestay.project.resources.mybatis.mapper.admin.dashBoardMapper">

    <!-- 총 가입자 수 -->
    <select id="countTotalUser" resultType="String">
        SELECT COUNT(*)
        FROM User
        WHERE status_id = 'U01';
    </select>

    <!-- 총 호스트 수 -->
    <select id="countTotalHost" resultType="String">
        SELECT COUNT(*)
        FROM User
        WHERE user_is_host = 'Y';
    </select>

    <!-- 문의사항 수 -->
    <select id="countTotalInquiries" resultType="String">
        SELECT COUNT(*)
        FROM InquiryChattingRoom
        WHERE status_id = 'I01';
    </select>

    <!-- 숙소 신청한 호스팅 관리 -->
    <select id="selectListRoom" resultType="map">
        SELECT U.user_nickname, R.room_id, R.room_name, R.room_weekday_price, R.room_weekend_price
        FROM Room R
                 left join User U on R.user_id = U.user_id
        WHERE U.user_nickname IS NOT NULL
          AND R.status_id = 'RA01'
        ORDER BY R.created_at DESC
        LIMIT 20;
    </select>

<!--     문의사항 관리 -->
    <select id="selectListInquiry" resultType="map">
        select i.chatting_room_id, i.created_at, i.status_id, u.user_nickname, i.user_id
        from InquiryChattingRoom i, User u
        where i.user_id = u.user_id and i.status_id = 'I01'
        order by created_at asc;
    </select>

    <update id="updateInquiryStatus" parameterType="hashMap">
        update InquiryChattingRoom
        set status_id = 'I02', admin_id = #{admin_id}
        where chatting_room_id = #{chatting_room_id}
    </update>

    <!-- 숙소 신청한 호스팅 개별 승인 처리 -->
    <update id="updateConfirmIndividualRoom" parameterType="String">
        UPDATE Room
        SET status_id = 'RA02'
        WHERE room_id = #{room_id};
    </update>

    <!-- 숙소 신청한 호스팅 개별 반려 처리 -->
    <update id="updateRejectIndividualRoom" parameterType="String">
        UPDATE Room
        SET status_id = 'RA03'
        WHERE room_id = #{room_id};
    </update>

    <!-- 문의사항  -->

    <!-- 유저 관리 -->
    <!-- 최근 생성한 활성 유저 20명 출력 -->
    <!--    <select id="selectUserManagement" resultType="UserDto">-->
    <!--        SELECT *-->
    <!--        FROM User-->
    <!--        WHERE status_id = U01-->
    <!--        ORDER BY created_at DESC LIMIT 20;-->
    <!--    </select>-->

    <!-- 호스팅 관리 -->
    <select id="selectHostManagement" resultType="int">

    </select>

    <!-- 공지사항 -->
    <!-- 최근 생성한 공지사항 20개 출력 -->
    <select id="selectNotice" resultType="NoticeDto">
        SELECT *
        FROM Notice
        ORDER BY created_at DESC LIMIT 20;
    </select>

    <!-- 이벤트 -->
    <!-- 최근 생성한 이벤트 중 진행 중인 이벤트 20개 출력 -->
    <select id="selectEvent" resultType="EventDto">
        SELECT *
        FROM Event
        WHERE status_id = E02
        ORDER BY created_at DESC LIMIT 20;
    </select>

    <!-- 문의사항 -->
    <!-- TODO: 문의사항 상태 코드 있어야 하지 않나? -->
    <select id="selectInquiry" resultType="InquiryChattingRoomDto">
        SELECT *
        FROM InquiryChattingRoom
        ORDER BY created_at DESC LIMIT 20;
    </select>

    <!-- 쿠폰 -->
    <!-- TODO: 쿠폰 상태 코드 있어야 하지 않나? -->
    <select id="selectCoupon" resultType="CouponDto">
        SELECT *
        FROM Coupon
        ORDER BY created_at DESC LIMIT 20;
    </select>


</mapper>