<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.universestay.project.mybatis.mapper.admin.EventMapper">

    <insert id="insert" parameterType="EventDto">
        INSERT into Event (admin_id, status_id, event_title, event_ctt, event_is_open,
                           event_start_date, event_expire_date, created_id, updated_id)
        VALUES (#{admin_id}, #{status_id}, #{event_title}, #{event_ctt}, #{event_is_open},
                #{event_start_date}, #{event_expire_date}, #{created_id}, #{updated_id})
    </insert>

    <select id="select" parameterType="int" resultType="EventDto">
        SELECT *
        FROM Event
        WHERE event_id = #{event_id}
    </select>

    <select id="getAdminNickname" parameterType="String" resultType="String">
        SELECT admin_nickname
        FROM Admin
        WHERE admin_id = #{admin_id}
    </select>

    <select id="selectAll" resultType="EventDto">
        SELECT *
        FROM Event
        ORDER BY created_at DESC;
    </select>

    <sql id="selectFromEvent">
        SELECT event_id, admin_id, event_title, event_ctt, event_hit, created_at
        FROM Event
    </sql>

    <select id="selectPage" parameterType="map" resultType="EventDto">
        <include refid="selectFromEvent"/>
        ORDER BY created_at DESC, event_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <update id="update" parameterType="EventDto">
        UPDATE Event
        SET status_id         = #{status_id},
            event_title       = #{event_title},
            event_ctt         = #{event_ctt},
            event_is_open     = #{event_is_open},
            event_start_date  = #{event_start_date},
            event_expire_date = #{event_expire_date},
            updated_at        = now(),
            updated_id        = #{updated_id}
        WHERE event_id = #{event_id}
    </update>

    <delete id="delete">
        DELETE
        FROM Event
        WHERE event_id = #{event_id}
    </delete>

    <update id="update_hit" parameterType="EventDto">
        UPDATE Event
        SET event_hit = event_hit + 1
        WHERE event_id = #{event_id}
    </update>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND event_title LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND admin_id LIKE concat('%', #{keyword}, '%')
            </otherwise>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="EventDto">
        SELECT event_id, admin_id, event_title, event_ctt, event_hit, created_at
        FROM Event
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY created_at DESC, event_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM Event
        WHERE true
        <include refid="searchCondition"/>
    </select>

</mapper>