<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universestay.project.admin.dao.inquiryMapper">

    <!--|||| about Reply table ||||-->
    <!--||||~~~~~~~~~~~~~~~~~~~||||-->
    <select id="countInquiry" resultType="int">
        select count(*)
        from Inquiry
    </select>

    <select id="selectInquiry" resultType="InquiryDto">
        select *
        from Inquiry
        where inquiry_id = #{inquiry_id}
    </select>

    <insert id="insertInquiry" parameterType="InquiryDto">
        insert into Inquiry (user_id, inquiry_title, inquiry_ctt, inquiry_is_open, created_id)
        values (#{user_id}, #{inquiry_title}, #{inquiry_ctt}, #{inquiry_is_open}, #{created_id})
    </insert>

    <update id="updateInquiry" parameterType="InquiryDto">
        update Inquiry
        set inquiry_title   = #{inquiry_title},
            inquiry_ctt     = #{inquiry_ctt},
            inquiry_is_open = #{inquiry_is_open},
            inquiry_is_answered = #{inquiry_is_answered},
            updated_id      = #{updated_id}
        where inquiry_id = #{inquiry_id}
    </update>

    <!--    <delete id="deleteInquiry" parameterType="int">-->
    <delete id="deleteInquiry">
        delete
        from Inquiry
        where inquiry_id = #{inquiry_id}
    </delete>

    <select id="countSearchResult" parameterType="SearchCondition" resultType="int">
        select count(*)
        from Inquiry
        where true
        <choose>
            <when test="option=='user_id'">
                and user_id like concat('%', #{keyword}, '%' )
            </when>
            <when test='option=="inquiry_is_answered"'>
                and inquiry_is_answered like concat('%', #{keyword}, '%')
            </when>
            <when test='option=="inquiry_title"'>
                and inquiry_title like concat('%', #{keyword}, '%' )
            </when>
            <otherwise>
                and ( user_id like concat('%', #{keyword}, '%')
                or inquiry_is_answered like concat('%', #{keyword}, '%') )
            </otherwise>
        </choose>
    </select>

    <select id="selectPage" parameterType="SearchCondition" resultType="InquiryDto">
        select *
        from Inquiry
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectSearchResultPage" parameterType="SearchCondition" resultType="InquiryDto">
        select *
        from Inquiry
        where true
        <choose>
            <when test="option=='user_id'">
                and user_id like concat('%', #{keyword}, '%' )
            </when>
            <when test='option=="inquiry_is_answered"'>
                and inquiry_is_answered like concat('%', #{keyword}, '%')
            </when>
            <when test='option=="inquiry_title"'>
                and inquiry_title like concat('%', #{keyword}, '%' )
            </when>
            <otherwise>
                and ( user_id like concat('%', #{keyword}, '%')
                or inquiry_is_answered like concat('%', #{keyword}, '%') )
            </otherwise>
        </choose>
        order by created_at desc, inquiry_is_answered desc, user_id desc
        limit #{offset}, #{pageSize}
    </select>

    <!--    <update id="updateInquiryHits" parameterType="int">-->
    <update id="updateInquiryHits">
        update Inquiry
        set inquiry_hit = inquiry_hit + 1
        where inquiry_id = #{inquiry_id}
    </update>

    <!--|||| about Reply table ||||-->
    <!--||||~~~~~~~~~~~~~~~~~~~||||-->
    <!--    <select id="selectReply" parameterType="int" resultType="ReplyDto">-->
    <select id="selectReply" resultType="ReplyDto">
        select *
        from Reply
        where reply_id = #{reply_id}
    </select>

    <!--    <select id="selectReplys" parameterType="int" resultType="ReplyDto">-->
    <select id="selectReplys" resultType="ReplyDto">
        select *
        from Reply
        where inquiry_id = #{inquiry_id}
        order by created_at desc
    </select>

    <insert id="insertReply" parameterType="ReplyDto">
        insert into Reply (inquiry_id, reply_writer_id, reply_ctt, created_id)
        values (#{inquiry_id}, #{reply_writer_id}, #{reply_ctt}, #{created_id})
    </insert>

    <update id="updateReply" parameterType="ReplyDto">
        update Reply
        set reply_ctt  = #{reply_ctt},
            updated_id = #{updated_id}
        where reply_id = #{reply_id}
    </update>

    <!--    <delete id="deleteReply" parameterType="int">-->
    <delete id="deleteReply">
        delete
        from Reply
        where reply_id = #{reply_id}
    </delete>
</mapper>