<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universestay.project.resources.mybatis.mapper.admin.LoginAdminDao">
    <select id="select" parameterType="String" resultType="AdminDto">
        SELECT *
        FROM Admin
        WHERE admin_email = #{admin_email}
    </select>

    <select id="selectAdminId" parameterType="String" resultType="String">
        select admin_id
        from Admin
        where admin_email = #{admin_email}
    </select>
</mapper>
