<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper
  namespace="com.universestay.project.resources.mybatis.mapper.admin.dao.ReservationToEmailJobDao">

  <select id="selectAlert" resultType="map">
    SELECT u.user_id,
           u.user_email,
           u.user_name,
           b.booking_id,
           b.booking_checkin_time,
           b.booking_num_of_guest,
           b.booking_checkout_time,
           r.room_id,
           r.room_name,
           r.room_address,
           r.room_address_detail
    FROM User u
           JOIN Booking b ON u.user_id = b.user_id
           JOIN Room r ON b.room_id = r.room_id
    WHERE DATE(b.booking_checkin_time) = DATE(NOW() + INTERVAL 1 DAY);

  </select>

</mapper>