<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universestay.project.admin.dao.UserManagementMapper">
    <select id="countUser" resultType="int">
        select count(*)
        from User;
    </select>

    <select id="selectUser" parameterType="String" resultType="UserDto">
        select *
        from User
        where user_id = #{user_id}
    </select>

    <update id="updateUser" parameterType="UserDto">
        update User
        set status_id = #{status_id}
        where user_id = #{user_id}
    </update>

    <insert id="insertUser" parameterType="UserDto">
        insert into User(user_id, user_id2, status_id, user_pwd, user_nickname, user_name,
                         user_email, user_phone_num1, user_phone_num2, user_address, user_birth,
                         user_is_certificated, user_is_host, user_bio, created_id, updated_id)
        values (#{user_id}, #{user_id2}, #{status_id}, #{user_pwd}, #{user_nickname}, #{user_name},
                #{user_email}, #{user_phone_num1}, #{user_phone_num2}, #{user_address}, #{user_birth},
                #{user_is_certificated}, #{user_is_host}, #{user_bio}, #{created_id}, #{updated_id})
    </insert>

    <delete id="deleteUser" parameterType="string">
        delete
        from User
        where user_id = #{user_id}
    </delete>

    <select id="selectPage" parameterType="hashmap" resultType="UserDto">
        select *
        from User
        ORDER BY created_at DESC, user_id desc LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getabc" parameterType="hashmap" resultType="map">
        select b.user_nickname, c.*
        from User b,
             Event c
        where b.user_id = c.admin_id;
    </select>

    <select id="selectAll" resultType="UserDto">
        select *
        from User
    </select>

    <select id="searchResultCount" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM User
        WHERE true
        <choose>
            <when test='option=="user_nickname"'>
                AND user_nickname LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="user_birth"'>
                AND user_birth LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="status_id"'>
                AND status_id LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (user_nickname LIKE concat('%', #{keyword}, '%')
                OR user_birth LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </select>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="UserDto">
        select *
        from User
        where true
        <choose>
            <when test='option=="user_nickname"'>
                AND user_nickname LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="user_birth"'>
                AND user_birth LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="status_id"'>
                AND status_id LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (user_nickname LIKE concat('%', #{keyword}, '%')
                OR user_birth LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
        order by created_at desc, user_id desc
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>