<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universestay.project.resources.mybatis.mapper.inquiry.AdminInquiryMapper">

    <select id="selectChattingRoom" resultType="InquiryChattingRoomDto">
        select *
        from InquiryChattingRoom
        where chatting_room_id = #{chatting_room_id}
    </select>


    <select id="selectChattingRoomList" resultType="InquiryChattingRoomDto">
        select *
        from InquiryChattingRoom
        where admin_id = #{admin_id}
        order by updated_at desc
    </select>

    <update id="updateChattingRoomAdminId" parameterType="InquiryChattingRoomDto">
        update InquiryChattingRoom
        set admin_id  = #{admin_id},
            status_id = 'I02'
        where chatting_room_id = #{chatting_room_id}
    </update>

    <update id="updateChattingRoomUpdatedAt">
        update InquiryChattingRoom
        set updated_at = current_timestamp
        where chatting_room_id = #{chatting_room_id}
    </update>

    <delete id="deleteChattingRoom">
        delete
        from InquiryChattingRoom
        where chatting_room_id = #{chatting_room_id}
    </delete>

    <select id="selectChattingMessage" resultType="InquiryChattingMessageDto">
        select *
        from InquiryChattingMessage
        where chatting_message_id = #{chatting_message_id}
    </select>

    <select id="selectChattingMessageList" resultType="map">
        select m.writer_id      m_writer_id,
               m.chatting_ctt   m_chatting_ctt,
               m.created_at     m_created_at,
               m.created_id     m_created_id,
               u.user_id        u_user_id,
               u.user_nickname  u_user_nickname,
               u.user_name      u_user_name,
               u.user_email     u_user_email
        from InquiryChattingMessage m
                 left join User u on m.writer_id = u.user_id
        where m.chatting_room_id = #{chatting_room_id}
        order by m.chatting_message_id asc
    </select>

    <select id="selectMyChattingRoomList" resultType="map">
        select r.chatting_room_id r_chatting_room_id, r.user_id r_user_id, r.admin_id r_admin_id, m.chatting_ctt m_chatting_ctt, m.created_at m_created_at, m.writer_id m_writer_id, u.user_nickname u_user_nickname, a.admin_nickname a_admin_nickname
        from InquiryChattingRoom r , InquiryChattingMessage m, User u, Admin a
        where r.user_id = u.user_id and r.admin_id = a.admin_id and r.admin_id = #{admin_id} and r.status_id = 'I02' and
            (r.chatting_room_id, m.chatting_message_id) in (select chatting_room_id, max(chatting_message_id) max_id
                                                            from InquiryChattingMessage group by chatting_room_id)
        order by m.created_at desc;
    </select>

    <insert id="insertChattingMessage" parameterType="InquiryChattingMessageDto">
        insert into InquiryChattingMessage (chatting_room_id, writer_id, chatting_ctt, created_id)
        values (#{chatting_room_id}, #{writer_id}, #{chatting_ctt}, #{created_id})
    </insert>

</mapper>