<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universestay.project.chatting.dao.ChatDao">

  <insert id="createRoom" parameterType="ChattingRoomDto">
    INSERT INTO ChattingRoom (chatting_room_id, user_id, user_id2, created_id, updated_id)
    VALUES (#{chatting_room_id}, #{user_id}, #{user_id2}, #{created_id}, #{updated_id})
  </insert>

</mapper>


